#tech-skill-levels__block {
  font-size: 0.8em;
  padding: 1rem;
  text-transform: uppercase;
}

#tech-skill-levels__block .tech-list-item__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#tech-skill-levels__block .tech__list-item {
  border-block-end: #00000025 1px dashed;
  flex: 0 1 240px;
}

#tech-skill-levels__block .tech__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}
